body {
    margin: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
body, label, .checkbox label {
    font-weight: 300;
}
html, body {
    height: 100%;
}
.title {
    font-size: 96px;
    margin-bottom: 40px;
}
.article-item, .article-text  {
    font-size: 18px;
    margin-bottom: 48px;
    color: #3a3f58;
}
.article-text img {
    cursor: pointer;
}
.article-item-time {
    margin-bottom: 5px;
    font-size: 12px;
}
.article-item-main_img {
    margin-right: 10px;
}
.article-item-short {
    font-size: 14px;
}
h1 {
    color: #3a3f58;
}
.quote { font-size: 24px; }


/* NAV */
.navbar a {
    color: #3a3f58;
    background: #FFFFFF;
}
.navbar a.navbar-brand {
    background: #FFFFFF;
}
.splash {

    background: url(/images/internal/mamba_out.jpg) no-repeat 0 -250px;
    text-align: center;
    height: 500px;
}
.splash #motivation {
    margin-top: 85px;
    font-size: 36px;
}
.splash #motivation a {
    color: #fdb927;
    background-color: #552583;
    padding: 4px;
}
h3 {
    margin-bottom: 18px;
}
@media (max-width: 900px) {
    .splash {
        background-image: none;
        height: auto;
    }
}
.page-header {
    border-bottom: none;
}
/* NAV END */
.color-gray {
    color: #98a6ad;
}